html {
    font-family: sans-serif;
}

.key {
    font-weight: bold;
}

.value {
    margin-left: 30px;
}

.type {
    font-style: italic;
    font-weight: normal;
    font-size: 0.8em;
}

.entry {
    border: 2px solid gray;
    margin: 5px;
    background-color: white;
}

.array {
    border: 2px solid red;
    background-color: pink;
}

.object {
    border: 2px solid blue;
    background-color: skyblue;
}

i {
    color: gray;
}