/*
 * Important functionality/layout styles that are needed regardless of visuals.
 */

.editable-text {
    /* Show all whitespace in names and values */
    white-space: pre;
}

.clickable {
    pointer-events: all;
}

/* Give empty editable fields something to click on */
.editable-text:empty::before {
    content: "(empty)";
    color: gray;
}