html {
    font-family: sans-serif;
}

.name {
    font-weight: bold;
}

.value,
.item-btns,
.boolean input {
    margin-left: 30px;
}

/* The Codicon in buttons was too big */
.item-btn i {
    font-size: 0.8em !important;
}

/* Codicon in each .item */
.key i {
    margin-right: 0.25em;
}

.type {
    font-style: italic;
    font-weight: normal;
    font-size: 0.85em;
    margin: auto 0.3em;
}

.item {
    border: 2px solid gray;
    margin: 5px;
    background-color: var(--vscode-editor-background);
}

.item.array {
    border: 2px solid red;
    background-color: #400000;
}

.item.object {
    border: 2px solid blue;
    background-color: #000040;
}

.item.changed {
    border: 2px solid #aaaa00;
}

.boolean .value {
    /* FYI: Spaces are usually 1/4em wide */
    margin-left: 0.25em;
}

/* 
 * Auto-growing input fields using contenteditable spans.
 * Originally by Chris Coyier.
 * https://codepen.io/chriscoyier/pen/XWbqpzP
 * MIT License
 */
.fake-input,
.fake-textarea {
    /* TODO: Give these VS Code styling */
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
}

/*
 * Highlight and flash animation for EditorItem.highlightAndScroll()
 */
.highlighted {
    border-color: yellow;
    background-color: yellow;
}

.flash {
    animation: flash-animation 1s ease-out;
}

@keyframes flash-animation {
    0% {
        border-color: yellow;
        background-color: yellow;
    }

    100% {
        border-color: default;
        background-color: default;
    }
}