html {
    font-family: sans-serif;
}

.key {
    font-weight: bold;
}

.value,
.debug-btn {
    margin-left: 30px;
}

.type {
    font-style: italic;
    font-weight: normal;
    font-size: 0.8em;
}

.item {
    border: 2px solid gray;
    margin: 5px;
    background-color: var(--vscode-editor-background);
}

.item.array {
    border: 2px solid red;
    background-color: #400000;
}

.item.object {
    border: 2px solid blue;
    background-color: #000040;
}